body {
    background-color: #9A9B73;
  }

  img {
    height: 300px;
    width: 300px;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #e7f9a9;
    border-width: 5px;
    width: 5%;
  }

  h1, h3 {
      color: #3d0814;
  }